@model IEnumerable<Transaction>

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

@* <p>
<a asp-action="Create">Create New</a>
</p>
<table class="table">
<thead>
<tr>
<th>
@Html.DisplayNameFor(model => model.TransactionID)
</th>
<th>
@Html.DisplayNameFor(model => model.BookingDate)
</th>
<th>
@Html.DisplayNameFor(model => model.TransactionDate)
</th>
<th>
@Html.DisplayNameFor(model => model.Referance)
</th>
<th>
@Html.DisplayNameFor(model => model.Amount)
</th>
<th>
@Html.DisplayNameFor(model => model.Balance)
</th>
<th></th>
</tr>
</thead>
<tbody>
@foreach (var item in Model)
{
<tr>
<td>
@Html.DisplayFor(modelItem => item.TransactionID)
</td>
<td>
@Html.DisplayFor(modelItem => item.BookingDate)
</td>
<td>
@Html.DisplayFor(modelItem => item.TransactionDate)
</td>
<td>
@Html.DisplayFor(modelItem => item.Referance)
</td>
<td>
@Html.DisplayFor(modelItem => item.Amount)
</td>
<td>
@Html.DisplayFor(modelItem => item.Balance)
</td>
<td>
@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
</td>
</tr>
}
</tbody>
</table> *@
